.chat-container {
    background-color: red;
    height: 60vh;
    position: relative;
}

.chat-container h1 {
    margin: 10px;
}

.messages-container {
    height: 300px;
}

.send-message-bottom {
    position: absolute;
    bottom: -30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.send-message-bottom input {
    width: 75%;
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid var(--input-border-color);
    outline: none;
    font-size: 1.5rem;
}

.send-message-bottom button {
    padding: 10px 40px;
    border-radius: 10px;
    margin-left: 20px;
    background-color: var(--orange-color);
    color: white;
    font-weight: bold;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    font-size: 1.125rem;
    cursor: pointer;
}